.toggleParent{
    display: flex;
    cursor: pointer;
    width: 200px;
}
.positionBar{
    position: relative;
    width: 200px;
    height: 170px;
}
.menu{
    position: absolute;
    left: 0;
    top: 40%;
    background:  transparent;
    color: #fff;
    padding: 6px;
}
.toggleParent span,
.toggleParent .icons
{
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border: 2px solid  white;
    border-radius: 50%;
    color: white;
    transition: 0.25s ease;
    background: linear-gradient(var(--clr-i) , var(--clr-ii));
}
.toggle{
   display: none;
}
.block{
    display: block;
}
.toggleParent .icons a{
    font-size: 10px;
    color: white;
}
.block ul {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
.One{
    position: absolute;
    left: 10px;
    top: 15px;
    border-radius: 50%;
    transition: 0.3s;
    border: 2px solid #fff;
    background:  transparent;
    padding: 5px;
    font-size: 10px;
}
.Two{
    position: absolute;
    left: 65px;
    top: 40px;
    border-radius: 50%;
    transition: 0.5s;
    border: 2px solid #fff;
    background:  transparent;
    padding: 5px;
    font-size: 10px;
}
.Three{
    position: absolute;
    left: 65px;
     bottom: 25px;
    border-radius: 50%;
    transition: 0.7s;
    border: 2px solid #fff;
    background:  transparent;
    padding: 5px;
    font-size: 10px;
   }
   .Four{
    position: absolute;
    left: 10px;
    bottom:-4px;
    border-radius: 50%;
    transition: 0.9s;
    border: 2px solid #fff;
    background: transparent;
     padding: 5px;
     font-size: 10px;
  }